.event-list{
    list-style: none;
}

.event-list > li{
    position: relative;
    padding: 0 0 0 10px;
    margin: 0 0 20px 10%;
    border-left: 2px solid #CCCCCC;
    display: inline-block;
}

.event-list > li > .time{
    position: relative;
    float: left;
    display: inline-block;
    height: 100%;
    background: orangered;
}
.event-list > li > .time > span{
    position: relative;
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    color:white;
}
.event-list > li > .time > .day{
    font-size: 35pt;
    line-height: 32pt;
}
.event-list > li > .time > .month{
    font-size: 12pt;
    line-height:10pt;
}
.event-list > li > .time > .month{
    font-size: 18pt;
    line-height:16pt;
}
.event-list > li > .event-content{
    position: relative;
    float: left;
    padding: 0;
    margin: 0 5px;
    width: 80%;
}
.event-list > li > .event-content > .event-title{
    margin: 0;
    position: relative;
    float: left;
    padding:0;
    font-size: 25pt;
    line-height: 25pt;
    display: block;

}
.event-list > li > .event-content > .event-description{
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.event-list > li > .event-content > .event-location{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    color: #00b3ee;
}
.event-list > li > .event-content > .event-link{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #0f7c67;
}
