@font-face {
    font-family: "Fira Sans";
    src: url("../font/FiraSans-Regular.woff");
    font-weight: 400;
}
@font-face {
    font-family: "Fira Sans";
    src: url("../font/FiraSans-Medium.woff");
    font-weight: 500;
}

* {
    font-family: 'Fira Sans', sans-serif;
}
body {
    background: #F1F1F1 none repeat scroll 0% 0%;
    color: #333;
    min-height: 300px;
    overflow-x: hidden;
    width: 100%;
    height:100%;
}
body, h1, a {
    font-weight: 400;
}
h1 {
    color: #4CB1FF;
    border-bottom: 1px solid #E5E4E5;
}
a {
    text-decoration:none;
}
section {
    clear:both;
}
footer{
    margin:10px;
    clear: both;
    height: 10px;
}
.center {
    width:100%;
    text-align:center;
}
.nome {
    position: relative;
    top: -40px;
}
.imageblock {
    background: #E0E0E0 none repeat scroll 0% 0%;
    margin: 0 auto;
    padding:10px;
    border-bottom: 1px solid #E5E4E5;
    border-top: 1px solid #E5E4E5;
}
.btn {
    border-bottom: 1px solid #4D8D32;
    line-height: 1;
    padding: 10px;
    text-align: center;
    color:#fff;
    text-decoration: none;
    display:inline-block;
    width: auto;
    font-size: 15px;
}
.btn-red{
    background: rgb(238, 50, 50) none repeat scroll 0 0;
}
.btn-green{
    background: #66D071 none repeat scroll 0 0;
}
.list-inline {
    margin: 1.2rem;
    list-style: none;
}
.no-style {
    list-style: none;
}
.list-inline li {
    display: inline-block;
}
.market{
    margin-left:2.5rem;
    background: url("../img/market.png") no-repeat left top;
    padding: 8px 0px 8px 40px;
}
.no-author{
    margin-left:2.5rem;
    padding: 8px 0px 8px 40px;
}
.align-left li{
    float:left;
    clear:both;
}